[tool.poetry]
name = "data-ingestion"
version = "0.1.3"
description = ""
authors = ["TransitMatters Labs Team"]
license = "MIT"

[tool.poetry.dependencies]
python = "~3.11"
requests = "^2.31.0"
pytz = "^2023.3"
boto3 = "^1.34.60"
numpy = "^1.24.2"
pandas = "^1.5.3"
geopy = "^2.2.0"
python-dotenv = "^1.0.0"
mbta-gtfs-sqlite = "^1.1.0"
boxsdk = "^3.7.1"
openpyxl = "^3.1.2"
dynamodb-json = "^1.3"
datadog_lambda = "5.90.0"
ddtrace = "2.7.2"
tqdm = "^4.66.1"

[tool.poetry.dev-dependencies]
chalice = "^1.31.0"
flake8 = "^7.0.0"
black = "^24.2.0"
pytest = "~8.1.1"

[tool.black]
line-length = 120
target-version = ['py311']

[build-system]
requires = ["poetry-core>=1.7.0"]
build-backend = "poetry.core.masonry.api"
