[tool.poetry]
name = "data-ingestion"
version = "0.1.3"
description = ""
authors = ["TransitMatters Labs Team"]
license = "MIT"
package-mode = false

[tool.poetry.dependencies]
python = "~3.11"
requests = "^2.32.3"
pytz = "^2024.1"
boto3 = "~1.35.11"
numpy = "^1.24.2"
pandas = "^1.5.3"
geopy = "^2.2.0"
python-dotenv = "^1.0.0"
mbta-gtfs-sqlite = "^1.1.1"
boxsdk = "^3.13.0"
openpyxl = "^3.1.5"
dynamodb-json = "^1.4.2"
datadog_lambda = "6.104.0"
tqdm = "^4.66.5"

[tool.poetry.dev-dependencies]
chalice = "~1.31.3"
flake8 = "^7.1.1"
black = "^24.10.0"
pytest = "~8.3.4"

[tool.poetry.requires-plugins]
poetry-plugin-export = "^1.9.0"

[tool.black]
line-length = 120
target-version = ['py311']

[build-system]
requires = ["poetry-core>=1.7.0"]
build-backend = "poetry.core.masonry.api"
