[tool.poetry]
name = "data-ingestion"
version = "0.1.0"
description = ""
authors = ["Your Name <you@example.com>"]

[tool.poetry.dependencies]
python = "^3.9"
requests = "^2.28.1"
json-api-doc = "^0.15.0"
pytz = "^2022.1"
boto3 = "^1.24.33"
numpy = "^1.23.1"
pandas = "^1.4.3"
geopy = "^2.2.0"
python-dotenv = "^1.0.0"
mbta-gtfs-sqlite = "^0.9.5"

[tool.poetry.dev-dependencies]
chalice = "^1.27.1"
flake8 = "^4.0.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
